.haiku-top
  = link_to destroy_user_session_path, method: :delete, class: "mypage" do
    .haiku-top__left
      マイページ
  = link_to new_haiku_path, class: "create-haiku" do
    .haiku-top__right
      一句
.haiku-middle
.haiku-btn