.haiku-user-top
  = link_to haikus_path, class: "mypage" do
    = icon('fa', 'home')
  .haiku-user-top__user-name
    = current_user.name
    さん
.haiku-middle
  = render partial: 'google-map', locals: { haikus: @haikus }
.haiku-btn