.haiku-top {
  height: 10vh;
  background-color: rgb(156, 50, 18);
  border: solid 0.5vh palevioletred;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__left {
    position: absolute;
    top: 3vh;
    left: 3vw;
    height: 5vh;
    width: 10vw;
    background-color: plum;
  }
  &__right {
    position: absolute;
    top: 3vh;
    right: 3vw;
    height: 5vh;
    width: 10vw;
    background-color: plum;
  }
  .fa-user, .fa-home {
    display: block;
    color: plum;
    position: absolute;
    top: 25%;
    left: 1.5%;
    font-size: 5vh;
  }
  .fa-edit {
    display: block;
    color: plum;
    position: absolute;
    top: 25%;
    right: 2%;
    font-size: 5vh;
  }
  .fa-trash {
    display: block;
    color: plum;
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 4vh;
  }
  &__user-name {
    font-size: 3vh;
    a {
      color: pink;
      text-decoration: none;
    }
  }
  &__new-title {
    font-size: 3vh;
    color: pink;
  }
  &__top-title {
    font-size: 3vh;
    color: pink;
    span {
      vertical-align: middle;
    }
    select {
      height: 4.5vh;
      width: 6vw;
      color: rgb(158, 12, 151);
      cursor: pointer;
      border: solid 0.3vh plum;
      border-radius: 1vh;
      font-size: 2.3vh;
      vertical-align: middle;
    }
  }
}
.haiku-middle {
  height: 80vh;
  background-color: rgb(207, 162, 103);
  padding-bottom: 10vh;
  overflow: scroll;
  scroll-behavior: smooth;
  &__contents {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      text-decoration: none;
    }
    &__content {
      height: 15vh;
      width: 60vw;
      border: solid 0.1vh black;
      border-radius: 2vh;
      padding: 3vh 2vw;
      display: flex;
      background-color: white;
      &__left {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .fa-star {
          position: absolute;
          top: 1vh;
          right: 2.7vw;
          font-size: 3vh;
          color: rgb(133, 2, 126);
          cursor: pointer;
        }
        &__name {
          height: 30%;
          span {
            color: salmon;
            font-size: 3vh;
          }
        }
        &__haiku {
          height: 30%;
          font-size: 2vh;
          position: relative;
          a {
            color: black;
          }
          .haiku-created-at {
            position: absolute;
            right: 2vw;
            bottom: -0.5vh;
          }
        }
      }
      a {
        width: 20%;
        .haiku-middle__contents__content__right {
          height: 100%;
          width: 100%;
          background-color: rgb(243, 125, 89);
          border: solid 0.5vh rgb(201, 124, 8);
          border-radius: 2vh;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &__haidoku {
            color: rgb(158, 12, 151);
            font-family: 'HuiFontP109';
            font-size: 4vh;
          }
        }
      }
    }
  }
}
.haiku-btn {
  height: 10vh;
  background-color: palevioletred;
  border: solid 0.5vh rgb(201, 79, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__created-at {
    position: absolute;
    right: 0.5vw;
    bottom: 0;
    font-size: 2vh;
    color: rgb(133, 2, 126);
  }
  a {
    text-decoration: none;
    .haiku-btn__favorite {
      height: 7vh;
      width: 15vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 125, 89);
      border: solid 0.5vh rgb(201, 124, 8);
      border-radius: 2vh;
      span {
        display: inline-block;
        color: rgb(133, 2, 126);
        font-size: 2.5vh;
      }
    }
    .haiku-btn__follow {
      height: 7vh;
      width: 15vw;
      position: absolute;
      top: 1vh;
      right: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 125, 89);
      border: solid 0.5vh rgb(201, 124, 8);
      border-radius: 2vh;
      span {
        display: inline-block;
        color: rgb(133, 2, 126);
        font-size: 2.5vh;
      }
    }
    .haiku-btn__logout {
      position: absolute;
      top: 2vh;
      left: 0.5vw;
      height: 5vh;
      width: 6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 125, 89);
      border: solid 0.5vh rgb(201, 124, 8);
      border-radius: 2vh;
      span {
        display: inline-block;
        color: rgb(133, 2, 126);
        font-size: 1.6vh;
      }
    }
  }
}

.scroll-bottom__icon {
  font-size: 7vh;
  color: rgb(133, 2, 126);
  position: absolute;
  bottom: 15vh;
  right: 5vw;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  
  
  
}