.haiku-top {
  height: 10vh;
  background-color: rgb(156, 50, 18);
  border: solid 0.5vh palevioletred;
  position: relative;
  &__left {
    position: absolute;
    top: 3vh;
    left: 3vw;
    height: 5vh;
    width: 10vw;
    background-color: plum;
  }
  &__right {
    position: absolute;
    top: 3vh;
    right: 3vw;
    height: 5vh;
    width: 10vw;
    background-color: plum;
  }
  .fa-user, .fa-home {
    display: block;
    color: plum;
    position: absolute;
    top: 25%;
    left: 1.5%;
    font-size: 5vh;
  }
  .fa-edit {
    display: block;
    color: plum;
    position: absolute;
    top: 25%;
    right: 2%;
    font-size: 5vh;
  }
  &__user-name {
    font-size: 3vh;
    position: absolute;
    top: 3vh;
    left: 45.5vw;
    a {
      color: pink;
      text-decoration: none;
    }
  }
  &__new-title {
    font-size: 3vh;
    position: absolute;
    top: 2.5vh;
    left: 40vw;
    color: pink;
  }
  &__top-title {
    font-size: 3vh;
    position: absolute;
    top: 2.5vh;
    left: 35vw;
    color: pink;
    span {
      vertical-align: middle;
    }
    select {
      height: 4.5vh;
      width: 6vw;
      color: rgb(158, 12, 151);
      cursor: pointer;
      border: solid 0.3vh plum;
      border-radius: 1vh;
      font-size: 2.3vh;
      vertical-align: middle;
    }
  }
}
.haiku-middle {
  height: 80vh;
  background-color: rgb(207, 162, 103);
  padding-bottom: 10vh;
  overflow: scroll;
  scroll-behavior: smooth;
  &__contents {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      text-decoration: none;
    }
    &__content {
      height: 15vh;
      width: 60vw;
      border: solid 0.1vh black;
      border-radius: 2vh;
      padding: 3vh 2vw;
      display: flex;
      background-color: white;
      &__left {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__name {
          height: 30%;
          span {
            color: salmon;
            font-size: 3vh;
          }
        }
        &__haiku {
          height: 30%;
          font-size: 2vh;
          position: relative;
          a {
            color: black;
          }
          .haiku-created-at {
            position: absolute;
            right: 2vw;
            bottom: -0.5vh;
          }
        }
      }
      a {
        width: 20%;
        .haiku-middle__contents__content__right {
          height: 100%;
          width: 100%;
          background-color: rgb(243, 125, 89);
          border: solid 0.5vh rgb(201, 124, 8);
          border-radius: 2vh;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &__haidoku {
            color: rgb(158, 12, 151);
            font-family: 'HuiFontP109';
            font-size: 4vh;
          }
        }
      }
    }
  }
}
.haiku-btn {
  height: 10vh;
  background-color: palevioletred;
  border: solid 0.5vh rgb(201, 79, 8);
}


@media screen and (max-width: 480px) {



}