.haiku-user-top {
  height: 10vh;
  background-color: rgb(156, 50, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__user-name {
    margin-right: 2vw;
  }
  .fa {
    display: block;
    color: plum;
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 6vh;
  }
}